<div>
    <div class="home-body">
        <div class="article" *ngFor="let article of articles">
            <div class="article-img" [src]="article.images"></div>
            <div class="article-head">{{article.head}}</div>
            <div class="article-body" [innerHTML]="article.body"></div>
            <span class="aside">
                <span class="aside-date" [innerHTML]="article.date"></span> &bull;
                    <span class="new">NEW</span> &bull;
                    <span class="mini-highlight" [innerHTML]="article.highlight"></span>
                </span>
            <a routerLink="{{article.link}}" class="more">Read more &rarr;</a>
        </div>
    </div>
    
    <div class="home-footer">
        <a href="" class="footer-link">Load More <span><svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 7.05303V8.94697H11.3636L6.1553 14.1553L7.5 15.5L15 8L7.5 0.5L6.1553 1.8447L11.3636 7.05303H0Z" fill="#FF9A02"/>
            </svg>
            </span>
        </a>
    </div>    
</div>