<div class="page-details-body">
    <div>
        I am highly organized, motivated and disciplined with great integrity and the ability to work under pressure. I put value into whatever I do but more than anything, I always look forward to challenging tasks that produce great results.
    </div>

    <div>
        I feel lucky. Being one of the editors at the UX Collective allows me to read tons of great stories every week, submitted by designers from all over the world. People who have different backgrounds than my own, work at different companies, face different
        challenges every day. People who simply dedicate their time to sharing their learnings with the broader community.
    </div>

    <div>
        After reviewing and publishing more than a thousand articles this year, here are some of my personal favorites.
    </div>

    <div>In 2019 I learned that…</div>

    <div>
        <span class="bold-text">white space can hurt a product experience</span>, and data density matters depending on what that product’s goals are
        <div class="credit">
            — thanks to Patrick Deuley and Christie Lenneville
        </div>
    </div>

    <div>
        <span class="bold-text">Respect is the one value (if we were all forced to pick one)</span> that designers should have: respect the user’s time, dignity, ability, and means.
        <div class="credit">
            — thanks to Cyd Harrell
        </div>
    </div>


    <div>
        <span class="bold-text">Too many chefs spoil the stew:</span> UX teams are becoming so inflated in larger companies that one’s workflow can easily become a game of telephone
        <div class="credit">
            — thanks to Michal Malewicz
        </div>


        <div>
            <span class="bold-text">There are many different ways motion can add to the user experience,</span> and understanding what motion is trying to achieve can help designers be more assertive on the tools, techniques, and workflow they pick
            <div class="credit">
                — thanks to Yifan Ding
            </div>
        </div>


        <div>
            <span class="bold-text">We can’t tell women to fix sexist workplaces,</span> and articles like “How women should negotiate better” or “Tactics for women to be heard” end up hurting more than helping
            <div class="credit">
                — thanks to Kira Hodgson
            </div>
        </div>


        <div>
            <span class="bold-text">With the right framework,</span> we can fix any problem
            <div class="credit">
                — thanks to Lenny Rachitsky
            </div>
        </div>


        <div>
            <span class="bold-text">The future of branding relies on flexibility,</span> and the logo as we know it might die pretty soon
            <div class="credit">
                — thanks to Rory Macrae
            </div>
        </div>


        <div>
            <span class="bold-text">A lot of design tools are holding us back,</span> because they are still using methods, workflows, and features from graphic and visual design
            <div class="credit">
                — thanks to Tom Johnson
            </div>
        </div>
        <div>
            I am highly organized, motivated and disciplined with great integrity and the ability to work under pressure. I put value into whatever I do but more than anything, I always look forward to challenging tasks that produce great results
        </div>
    </div>